@media screen and (max-width: 1281px) {
    .headerMain {
        display: none;
    }

    .adaptiveHeader {
        display: flex;
        flex-direction: column;
        font-family: 'Montserrat-Medium', serif;
    }

    .adaptiveHeaderContent {
        padding: 30px 0;
        color: white;
        display: flex;
        justify-content: space-between;
    }

    .adaptiveHeaderLogo {
        margin-left: 3%;
    }

    .adaptiveHeaderNumber {
        display: flex;
        align-items: center;
        margin-right: 43%;
    }

    .adaptiveHeaderNumber h3 {
        color: #FF8A00;
    }

    .adaptiveHeaderUl {
        opacity: 0;
        position: fixed;
        top: 0;
    }

    .openHeaderUl {
        position: fixed;
        list-style: none;
        top: 0;
        opacity: 1;
        transition: 1s;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 0;
        width: 100%;
        background-color: rgb(0, 0, 0, 0.7);
        z-index: 4;
    }

    .closeHeaderUl {
        position: fixed;
        list-style: none;
        top: -300px;
        opacity: 0;
        transition: 1s;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 0;
        width: 100%;
        background-color: rgb(0, 0, 0, 0.7);
        z-index: 4;
    }

    .adaptiveHeaderUl li a {
        color: white;
        text-decoration: none;
        font-size: 20px;
    }

    .adaptiveHeaderUl li {
        margin-bottom: 30px;
    }

    .adaptiveHeaderMenu-icon {
        position: fixed;
        cursor: pointer;
        z-index: 5;
        right: 3%;
        top: 3%;
        background-color: rgb(0, 0, 0, 0.3);
        padding: 0 3px;
        border-radius: 3px;
        opacity: 70%;
    }

    .bar {
        width: 30px;
        height: 4px;
        background-color: white;
        margin: 6px 0;
    }

    .closeIcon {
        background-color: rgb(0, 0, 0, 0.3);
        padding: 10px 2px;
        border-radius: 3px;
    }

    .closeIcon .bar1 {
        display: none;
    }

    .closeIcon .bar2 {
        transform: rotate(45deg);
        position: absolute;
    }

    .closeIcon .bar3 {
        transform: rotate(-45deg);
    }

    .header .nav p {
        font-size: 26px;
    }

    .container {
        max-width: 1200px;
    }

    .slider {
        max-width: 1180px;
    }

    .slider-container {
        width: 1180px;
        left: 46%;
        margin-left: 56px;
    }

    .slideImg {
        max-width: 1180px;
    }

    .slide1_text {
        top: -545px;
    }

    .slider-btn {
        height: 550px;
    }

    .slider-btn-right {
        right: 4px;
    }

    .instruction {
        max-width: 288px;
    }

    .section2_cart {
        max-width: 285px;
        width: 100%;
    }

}

@media screen and (max-width: 1025px) {


    .container {
        max-width: 900px;
    }

    .slider {
        max-width: 720px;
    }

    .slider-container {
        width: 720px;
        left: 46%;
        margin-left: 56px;
    }

    .slideImg {
        max-width: 720px;
    }

    .instruction {
        max-width: 215px;
    }

    .slider-container {
        width: 900px;
        left: 45%;
        margin-left: 56px;
    }

    .slideImg {
        max-width: 900px;
    }

    .slider-btn {
        top: 21%;
        height: 415px;
    }

    .slide1_text {
        top: -395px;
    }
    .slide2_text .text_orange {
        padding-bottom: 53px;
    }
    .slide2_text {
        top: -393px;
        right: 55px;
    }

    .slide4_text {
        top: -348px;
    }
    .slide4_text .sliderLogo {
        margin-top: 30px;
    }
    .slide5_text {
        top: -528px;
    }
    .slide5_text .sliderLogo {
        margin-top: 59px;
    }
    .slide6_text {
        right: -147px;
        top: -433px;
    }
    .slide6_text .sliderLogo {
        max-width: 226px;
        padding-bottom: 265px;
        align-self: end;
        margin-right: 189px;
    }
    .slide7_text {
        top: -429px;
        font-size: 30px;
    }
    .slide7_text p:nth-child(5) {
        margin-bottom: 29px;
    }
    .instruction_text2 {
        font-size: 14px;
    }

    .section2 {
        padding-top: 114px;
    }

    .section2_cart {
        max-width: 390px;
    }

    .section2_cart_img {
        width: 100%;
    }

    .section6InstaPhotos img {
        max-width: 210px;
    }

    .footer {
        font-size: 14px;
    }

    .footerLogo {
        max-width: 133px;
    }

    .footerBox1 {
        align-items: self-start;
    }

    .footerBox2 {
        margin-left: 85px;
    }

    .footerNav {
        margin-left: 36px;
    }

    .footerBox3 {
        width: auto;
    }
}

@media screen and (max-width: 769px) {
    .container {
        max-width: 720px;
    }

    .slider {
        max-width: 650px;
    }

    .slider-container {
        width: 650px;
        left: 46%;
        margin-left: 26px;
    }

    .slideImg {
        max-width: 650px;
    }

    .slider-btn {
        top: 18%;
        height: 311px;
    }
    .slide2_text .text_orange {
        padding-bottom: 78px;
    }
    .section2_cart {
        max-width: 348px;
    }
    .slide3_text .sliderLogo {
        margin-top: -26px;
    }
    .slide3_text p:nth-child(6) {
        font-size: 15px;
        margin-top: -10px;
    }
    .slide4_text p:nth-child(4) {
        font-size: 15px;
    }
    .slide5_text {
        font-size: 25px;
        top: -447px;
    }
    .slide5_text .sliderLogo {
        margin-top: 0;
    }
    .slide5_text p:nth-child(7) {
        font-size: 15px;
    }
    .section2_menu_carts_arrow {
        height: 720px;
        width: 48px;
        bottom: -343px;
        left: 336px;
        display: flex;
        justify-content: center;
        transform: rotate(90deg);
    }

    .section6Content {
        text-align: -webkit-center;
    }

    .section6InstaPhotos img {
        max-width: 210px;
    }

    .section6InstaPhotos img:nth-child(1),
    .section6InstaPhotos img:nth-child(3) {
        margin-right: 15px;
    }

    .section6InstaPhotos img:nth-child(1),
    .section6InstaPhotos img:nth-child(2) {
        margin-bottom: 15px;
    }

    .section4_instructions {
        justify-content: space-around;
    }

    .section6InstaPhotos {
        display: flex;
        max-width: 552px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .adaptiveHeaderLogoImg {
        width: 136px;
    }

    .adaptiveHeaderNumber {
        margin-right: 39%;
    }

    .adaptiveHeaderMenu-icon {
        top: 4%;
    }

    .slide1_text {
        padding-top: 115px;
    }

    .slide1_text p {
        font-size: 20px;
        width: 378px;
        line-height: 35px;
    }

    .slide1_text h4 {
        font-size: 14px;
        max-width: 296px;
    }

    .view_menu_button {
        padding: 15px 35px;
    }

    .slide2_text {
        font-size: 30px;
    }

    .slide3_text {
        font-size: 30px;
        top: -480px;
    }

    .slide4_text {
        top: -320px;
    }

    .slide4_text p:nth-child(1),
    .slide4_text p:nth-child(2) {
        font-size: 30px;
    }

    .slide6_text {
        font-size: 30px;
        top: -306px;
        right: -141px;
    }
    .slide6_text .sliderLogo {
        padding-bottom: 180px;
    }
    .slide6_text p:nth-child(3) {
        font-size: 15px;
        margin-left: 40px;
        margin-top: -30px;
    }
    .slide7_text {
        font-size: 20px;
        top: -309px;
        line-height: 40px;
    }

    .slide7_text p:nth-child(5) {
        margin-bottom: 40px;
    }

    .sliderLogo {
        max-width: 113px;
    }

    .slide7_text p:nth-child(7) {
        font-size: 14px;
    }

    .order_now_button {
        padding: 15px 35px;
        width: 216px;
    }

    .section4_text {
        font-size: 24px;
    }

    .section4Line {
        margin-bottom: 0;
    }

    .section4_instructions {
        flex-wrap: wrap;
    }

    .instruction {
        max-width: 348px;
    }

    .map {
        max-width: 365px;
    }

    .section5Zones {
        margin-bottom: 20px;
    }

    .section5Delivery {
        padding: 12px 32px 32px 32px;
        margin-top: -11px;
    }

    .section5DeliveryHead {
        font-size: 20px;
        max-width: 222px;
    }

    .section5FreeDeliveryText,
    .section5ZoneText1,
    .section5ZoneText2 {
        font-size: 14px;
    }

    .section5DeliveryLine {
        margin-bottom: 12px;
    }

    .section5FreeDeliveryText {
        margin-bottom: 20px;
    }

    .footerBox2 {
        font-size: 14px;
    }

    .footerArrowTop {
        max-width: 80%;
    }
}

@media screen and (max-width: 480px) {
    .slider {
        max-width: 440px;
    }

    .slider-btn {
        top: 23%;
        height: 460px;
    }

    .slider-container {
        width: 440px;
        left: 46%;
        margin-left: 26px;
    }

    .slideImg {
        width: 440px;
    }

    .slide1_text {
        top: -511px;
        left: 0;
    }

    .slide1_text p {
        max-width: 300px;
    }

    .section1_text_Line {
        padding-bottom: 120px;
    }

    .section2 {
        padding-top: 257px;
    }
    .slide2_text {
        top: -453px;
        right: 1px;
        text-align: center;
    }
    .slide2_text p:nth-child(1) {
        margin-bottom: 2px;
    }
    .slide2_text .text_orange {
        padding-bottom: 192px;
    }
    .slide2_text .sliderLogo {
        align-self: center;
        padding-left: 0;
    }
    .slide2_text p:nth-child(5) {
        align-self: center;
    }
    .slide3_text {
        right: 0;
        align-items: center;
        font-size: 20px;
        line-height: 40px;
        top: -444px;
    }
    .slide3_text .sliderLogo {
        align-self: center;
        margin-right: 0;
    }
    .slide3_text .sliderLogo {
        margin-top: 59px;
        margin-bottom: 30px;
    }
    .slide3_text p:nth-child(2) {
        margin-bottom: 25px;
    }
    .slide3_text p:nth-child(6) {
        margin-right: 0;
    }
    .slide4_text {
        font-size: 30px;
        top: -463px;
        right: 0;
        line-height: 30px;
        text-align: center;
    }
    .slide4_text .sliderLogo {
        margin-top: 256px;
        margin-bottom: 11px;
        align-self: center;
        margin-right: 0;
    }
    .slide4_text p:nth-child(4) {
        margin-right: 0;
    }
    .slide5_text {
        font-size: 20px;
        top: -447px;
        right: 0;
        line-height: 40px;
        text-align: center;
    }
    .slide5_text .sliderLogo {
        margin-top: 66px;
        align-self: center;
    }
    .slide5_text p:nth-child(7) {
        margin-right: 0;
    }
    .slide6_text {
        font-size: 20px;
        right: 0;
        top: -411px;
    }
    .slide6_text .sliderLogo {
        align-self: center;
        margin-right: 0;
        order: 2;
        padding-bottom: 40px;
    }
    .slide6_text p:nth-child(2){
        order: 1;
        font-size: 25px;
        align-self: center;
        padding-bottom: 210px;
    }
    .slide6_text p:nth-child(3){
        order: 3;
        align-self: center;
        margin-left: 0;
    }
    .adaptiveHeaderContent {
        flex-wrap: wrap;
    }

    .container {
        max-width: 440px;
    }

    .adaptiveHeaderLogo {
        padding-left: 29%;
        padding-bottom: 24px;
        margin: 0;
        border-bottom: 2px solid #333333;
        width: 100%;
    }

    .adaptiveHeaderLogoImg {
        width: 180px;
    }

    .adaptiveHeaderNumber {
        padding-top: 15px;
        padding-left: 0;
        justify-content: center;
        padding-bottom: 13px;
        margin-right: 0;
        border-bottom: 2px solid #333333;
        width: 100%;
    }

    .adaptiveHeaderMenu-icon {
        top: 5%;
        left: 5%;
        right: auto;
    }

    .section1 {
        flex-direction: column;
        align-items: center;
        padding-bottom: 60px;
    }

    .slide1_text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .slide1_text p {
        text-align: center;
    }

    .slide1_text h4 {
        text-align: center;
        margin-bottom: 28px;
    }

    .slide1_text_Line {
        margin-bottom: 360px;
    }

    .section4_text {
        font-size: 32px;
    }

    .instruction {
        max-width: 440px;
    }

    .instruction_text2 {
        font-size: 20px;
        max-width: 316px;
        padding: 0 62px;
    }
    .section5Content {
        flex-direction: column;
    }
    .map {
        max-width: 440px;
    }

    .section5Delivery {
        margin-top: -4px;
        max-width: 440px;
    }

    .section5DeliveryHead {
        font-size: 24px;
        max-width: 222px;
    }

    .section5FreeDeliveryText {
        font-size: 16px;
        padding: 0 76px 0 0;
    }

    .section5Delivery::after {
        left: 20px;
    }

    .section5 .order_now_button {
        padding: 15px 96px;
        width: 328px;
        margin-left: 22px;
    }
    .footerBox {
        flex-direction: column;
        align-items: center;
    }
    .footerBox1 {
        padding-bottom: 0;
    }

    .footerNav {
        flex-direction: column;
        align-items: center;
        font-size: 16px;
    }

    .footerNav > * {
        margin-bottom: 40px;
    }

    .footerBox2 {
        flex-direction: column;
        align-items: center;
    }

    .footerBox2 > * {
        margin-bottom: 24px;

    }

    .footerBox2Cart {
        text-align: center;
        padding-top: 20px;
    }

    .footerBox2Cart1 {
        margin-right: 29px;
    }

    .footerBox2Cart1::before {
        left: 70px;
        top: -4px;
    }

    .footerBox2Cart2 {
        margin-right: 39px;
    }

    .footerBox2Cart2::before {
        left: 101px;
        top: -6px;
    }

    .footerBox2Cart3::before {
        left: 53px;
        top: -4px;
    }

    .footerBox2Cart3 {
        margin-left: -31px;
    }

}
@media screen and (max-width: 460px) {
    .slider {
        max-width: 420px;
    }

    .slider-btn {
        top: 23%;
        height: 460px;
    }

    .slider-container {
        width: 420px;
        left: 46%;
        margin-left: 26px;
    }

    .slideImg {
        width: 420px;
    }
}
@media screen and (max-width: 450px) {
    .container {
        max-width: 328px;
    }

    .adaptiveHeaderLogo {
        padding-left: 24%;
    }
    .slider {
        max-width: 400px;
    }

    .slider-btn {
        top: 23%;
        height: 460px;
    }

    .slider-container {
        width: 400px;
        left: 46%;
        margin-left: 26px;
    }

    .slideImg {
        width: 400px;
    }
    .slide1_text p {
        width: 328px;
    }

    .footerArrowTopButton {
        opacity: 100%;
    }

    .section4 {
        padding-bottom: 60px;
    }

    .section4_text {
        font-size: 24px;
    }

    .instruction {
        height: 172px;
    }

    .instruction_text1 {
        margin-top: 19px;
    }

    .instruction_text2 {
        font-size: 14px;
    }

    .map {
        max-width: 328px;
    }

    .section5Delivery {
        max-width: 328px;
        box-sizing: border-box;
    }

    .section5 .order_now_button {
        width: 296px;
        margin-left: -17px;
    }
}