body {
    height: 2000px; /* Для демонстрации прокрутки */
}
a {
    color: white;
}

.section1 {
    margin-bottom: 44px;
}

.section2_2 {
    font-family: Montserrat-Medium sans-serif;
    color: white;
}

.section2Content {
    display: flex;
    flex-direction: column;
}
.slider-container2{
    position: sticky;
    top: 10px;
    z-index: 10;
}
.section2Nav {
    z-index: 100;
    background-color: rgb(0,0,0, 0.5);
    border-radius: 20px;
    border: 1px solid white;
}

.section2Nav ul {
    display: flex;
    font-size: 16px;
    margin: 22px 0;
    justify-content: center;
}

.section2Nav li {
    margin-right: 40px;
}
.section2Nav li:last-child{
    margin-right: 0;
}

.headerSets {
    font-size: 28px;

}

.headerSets::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: orange;
    margin-top: 16px;
    margin-bottom: 40px;
}

.setsCarts {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.setsCartWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(25% - 10px);
    margin: 5px;
}

.setsCart {
    max-width: 302px;
    height: 364px;
    box-sizing: border-box;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 23px 21px 40px;
    border-radius: 20px;
    position: relative;
}
.backgroundWhiteImg{
    width: 260px;
    height: 160px;
}
.cartImg {
    margin-bottom: 8px;
    width: 100%;
}

.cartName {
    font-size: 20px;
    max-width: 260px;
    text-align: center;
    margin-bottom: 14px;
    font-weight: 800;
}

.cartDescription {
    font-size: 14px;
    max-width: 260px;
    text-align: center;
}

.weightPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    width: 90%;
    max-width: 260px;
    position: relative;
    bottom: 50px;
}

.weight {
    font-weight: 800;
    color: black;
}

.wrapperPrice {
    display: flex;
}
.wrapperPrice p{
    font-weight: bold;
    font-size: 24px;
}
.price{
    margin-right: 3px;
}

.footerArrowTopButton {
    display: none;
}

.order_now_button {
    position: fixed;
    bottom: 100px;
    right: 50px;
    padding: 0;
    border: 0;
    border-radius: 50%;
    max-width: 72px;
    max-height: 72px;
}
#Rolls::before,
#WarmRolls::before,
#PremiumRolls::before,
#Gunkans::before,
#Udons::before,
#SushiBurgers::before,
#Maki::before,
#Sets::before,
#Inari::before,
#Onigiri::before,
#SushiShawarma::before{
    content: "";
    display: block;
    height: 100px;
    margin-top: -100px;
    visibility: hidden;
}